<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 파비콘.. 윈도우 상 아이콘이다. -->
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<link rel="stylesheet" href="/css/navbar-top.css">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0px;
}

input[type=text],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea{
  height: 200px;
}

input[type=button] {
  background-color: #0063DD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

}

input[type=button]:hover {
  opacity: 0.8;
}

.container {
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: auto;
  height: 800px;
}
#w_div{
  width: 100%;
  height: 50px;
  border-top:3px solid #093687 ;
  border-bottom: 1px solid #093687;
  font-size: 30px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>

$(function(){ //onLoad되면
  //편집기 입히기
  CKEDITOR.replace( 'content' );

  $($("input[type='button']")[0]).click(function(){//수정버튼
    edit();
  });


  $($("input[type='button']")[1]).click(function(){//목록버튼
    getList();
  });

});


function getList(){
  location.href="/notice/list";
}

function edit(){
  $("form").attr("action","/notice/edit");  //url 은 개발자가 정한다, 단 서버랑 짝을 맞추자!!
  $("form").attr("method","post");  
  $("form").submit();//전송행위가 발생!!!
}
</script>
</head>
<body>

<!-- 탑 네비게이션 -->
<%- include('../inc/top_navi')%>

        
<div class="container">
  <div id="w_div">글쓰기</div>
  <br>
  <form>
    <input type="hidden" name="notice_id" value="<%=noticeList.notice_id%>">
    제목
    <input type="text" name="title" value="<%=noticeList.title%>">
    작성자
    <input type="text" name="writer" value="<%=joinUser.user_id%>" disabled>
    내용
    <textarea name="content"><%=noticeList.content%></textarea>

    <p></p>
    <input type="button" value="수정">
    <input type="button" value="목록">
  </form>

</div>
<!-- footer -->
<div>
  <%- include('../inc/footer')%>
</div>

</body>
</html>
